<h1>Guest Quiz</h1>
<h2><%= Subject.find(@quiz.subject_id).name %> quiz results</h2>

<% @quiz.problems.each do |problem|%>
<table>
  <tr>
   <th>Problem</th>
   <th>Your Response</th>
  </tr>
  <tr>
    <td><%=problem.question%></td>
    <td><%=problem.response%></td>
    <% if problem.correct_answer != problem.response %>
    <td> X <td>
    <% end %>
  </tr>
</table>
<%end  %>
<h3>Your score is <%= @quiz.score %></h3>
<h3>Your fluency is <%=(@quiz.updated_at-@quiz.created_at)/@quiz.num_questions%></h3>
<form action="students/new" method="get">
  <input type="submit" value="create an account to track your results">
</form>
